---
const { class: className, ...rest } = Astro.props;
---

<div class=`mouse-scroll display ${className}` {...rest}>
  <div class="mouse">
    <div class="scroll"></div>
  </div>
  <div>
    <div class="arrow-down" style="--index: 0;"></div>
    <div class="arrow-down" style="--index: 1;"></div>
    <div class="arrow-down" style="--index: 2;"></div>
  </div>
</div>

<style>
  .mouse-scroll {
    --size: 1.5rem;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .mouse-scroll.display {
    opacity: 1;
  }

  .mouse-scroll .mouse {
    height: calc(var(--size) * 1.5);
    width: var(--size);
    border-radius: var(--size);
    border: calc(var(--size) / 12) solid var(--c-text);
  }

  .mouse-scroll .arrow-down {
    height: calc(var(--size) / 2);
    width: calc(var(--size) / 2);
    border-right: calc(var(--size) / 12) solid var(--c-text);
    border-bottom: calc(var(--size) / 12) solid var(--c-text);
    transform: translate(calc(var(--size) / 4)) rotate(45deg);
    animation: arrow-down-animation 2s infinite calc(0.5s + var(--index) * 0.2s);
  }

  .mouse-scroll .arrow-down:first-child {
    margin-top: 0.25rem;
  }

  .mouse-scroll .scroll {
    height: calc(var(--size) / 2);
    width: calc(var(--size) / 12);
    margin: calc(var(--size) / 4) auto;
    background-color: var(--c-text);
    animation: scroll-animation 2s infinite;
  }

  @keyframes arrow-down-animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes scroll-animation {
    0% {
      opacity: 0;
      transform: translateY(0);
    }
    50%,
    100% {
      opacity: 1;
      transform: translateY(calc(var(--size) / 8));
    }
  }
</style>
