.theme-switch-button {
    height: 22px;
    width: 40px;
    border-radius: 15px;
    background-color: white;
    position: relative;
    cursor: pointer;
}

.theme-switch-toggle {
    height: 18px;
    width: 18px;
    position: absolute;
    display: flex;
    top: 2px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    background-color: #546E7A;
}

.light .theme-switch-toggle {
    left: 2px;
}

.dark .theme-switch-toggle {
    transform: translateX(20px);
}

.theme-switch-toggle-logo {
    height: 14px;
    margin: auto;
    color: white;
}

@media only screen and (max-width: 1430px) {
    .theme-switch-button {
        right: 30px;
        bottom: 22px;
        position: absolute;
    }

    @media only screen and (max-height: 480px) {
        .theme-switch {
            margin-left: 10px;
        }

        .theme-switch-button {
            right: unset;
            bottom: unset;
            margin-bottom: 22px;
            position: relative;
        }
    }
}
