---
import Footer from '@components/Footer.astro';
import '@styles/global.css';
import { type LangParams } from '@utils/i18n/utils';
import AlternateLang from './AlternateLang.astro';
import ThemeScript from './ThemeScript.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const { lang } = Astro.params as LangParams;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Antonin Ginet" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <AlternateLang />
    <ThemeScript />
  </head>
  <body>
    <slot name="header" />
    <main>
      <slot />
    </main>
    <slot name="footer">
      <Footer />
    </slot>
  </body>
</html>
