.header-navbar-item {
    position: relative;
    height: 22px;
    width: fit-content;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}

.header-navbar-item.link {
    cursor: pointer;
}

.header-navbar-item.is-open, .header-navbar-item:hover {
    color: #263238;
}

.header-navbar-item-rule {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 11px;
}

.header-navbar-item-rule > span {
    display: block;
    width: 100%;
    border-bottom: solid 2px transparent;
    transition: all 0.3s ease-in-out;
}

.header-navbar-item.is-open .header-navbar-item-rule > span, .header-navbar-item:hover .header-navbar-item-rule > span {
    margin-top: 2px;
    border-bottom-color: #263238;
}

.header-navbar-item-rule.is-open > span {
    margin-top: 2px;
    border-bottom-color: white;
}

@media only screen and (max-width: 1430px) {
    .header-navbar-item {
        margin: 10px;
        height: auto;
    }
}
