.body-title {
    margin: 30px auto;
    width: fit-content;
    font-weight: bold;
    font-size: 35px;
    padding: 15px;
    border: solid 3px;
    border-radius: 5px;
}

.light .body-title {
    color: #263238;
}

.dark .body-title {
    color: white;
}

@media only screen and (max-width: 1430px) {
    .body-title {
        font-size: 22px;
    }
}
