@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --light-background-gradient-from: #3a63c3;
  --light-background-gradient-to: #8ea1ce;
  --dark-background-gradient-from: #182848;
  --dark-background-gradient-to: #213f84;
  --c-background-gradient-from: var(--light-background-gradient-from);
  --c-background-gradient-to: var(--light-background-gradient-to);
  --c-background-gradient: linear-gradient(
    0deg,
    var(--c-background-gradient-to) 10%,
    var(--c-background-gradient-from) 90%
  );

  --light-text-gradient: hsl(200, 8%, 7%, 100%);
  --dark-text-gradient: hsl(215, 81%, 8%, 100%);
  --c-text-gradient: var(--light-text-gradient);

  --light-text: hsl(200, 8%, 7%, 100%);
  --dark-text: hsl(0, 0%, 100%, 100%);
  --c-text: var(--light-text);

  --light-primary: hsl(206, 98%, 52%, 100%);
  --dark-primary: hsl(206, 99%, 35%, 100%);
  --c-primary: var(--light-primary);

  --light-secondary: hsl(205, 67%, 47%, 100%);
  --dark-secondary: hsl(206, 77%, 21%, 100%);
  --c-secondary: var(--light-secondary);

  --light-accent: hsl(206, 83%, 74%, 100%);
  --dark-accent: hsl(206, 42%, 58%, 100%);
  --c-accent: var(--light-accent);

  --header-padding-block: 1rem;
  --header-max-content-padding: 0.625rem;
  --header-max-content-height: 1.125rem;
  --header-bottom-offset: calc(
    2 * var(--header-padding-block) + 2 * var(--header-max-content-padding) + var(--header-max-content-height)
  );

  --navbar-margin-bottom: 1rem;
  --navbar-padding: 0.625rem;
  --navbar-max-content-padding: 0.625rem;
  --navbar-max-content-height: 1.125rem;
  --navbar-top-offset: calc(
    var(--navbar-margin-bottom) + 2 * var(--navbar-padding) + 2 * var(--navbar-max-content-padding) +
      var(--navbar-max-content-height)
  );
}

@media (width > 64em) {
  :root {
    --navbar-top-offset: 0rem;
  }
}

:root.dark-theme {
  --c-background-gradient-from: var(--dark-background-gradient-from);
  --c-background-gradient-to: var(--dark-background-gradient-to);
  --c-text-gradient: var(--dark-text-gradient);
  --c-text: var(--dark-text);
  --c-primary: var(--dark-primary);
  --c-secondary: var(--dark-secondary);
  --c-accent: var(--dark-accent);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus-visible {
  outline: 2px solid var(--c-primary);
  outline-offset: 2px;
}

:has(:target) {
  --margin: 2rem;
  --header-padding-block: 1rem;
  --header-max-content-padding: 0.625rem;
  --header-max-content-height: 1.125rem;
  scroll-padding-top: calc(
    var(--margin) + 2 * var(--header-padding-block) + 2 * var(--header-max-content-padding) +
      var(--header-max-content-height)
  );
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
  }

  .apparition {
    opacity: 0;
    transform: translateY(2rem);
    transition:
      opacity 0.2s ease-in-out,
      transform 0.2s ease-in-out;
    transition-delay: calc(var(--apparition-delay) * 0.1s);
  }

  .apparition.show {
    opacity: 1;
    transform: none;
  }
}

body {
  min-height: 100svh;
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  color: var(--c-text);
  background-image: var(--c-background-gradient);
  display: flex;
  flex-direction: column;
}

main {
  margin-bottom: auto;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

a {
  color: unset;
  text-decoration: none;
  outline: none;
}

ol,
ul {
  list-style: none;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button {
  border: unset;
}
