@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --light-text: hsl(180, 36%, 5%, 100%);
  --dark-text: hsl(200, 43%, 96%, 100%);
  --c-text: var(--light-text);

  --light-background: hsl(180, 37%, 96%, 100%);
  --dark-background: hsl(205, 46%, 19%, 100%);
  --c-background: var(--light-background);

  --c-primary: hsl(179, 67%, 49%, 50%);

  --c-secondary: hsl(180, 69%, 72%, 100%);

  --c-accent: hsl(296, 46%, 33%, 50%);
}

:root.dark-theme {
  --c-text: var(--dark-text);
  --c-background: var(--dark-background);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus-visible {
  outline: 2px solid var(--c-primary);
  outline-offset: 2px;
}

:has(:target) {
  --margin: 1rem;
  --header-padding-block: 1rem;
  --header-max-content-padding: 0.625rem;
  --header-max-content-height: 1.125rem;
  scroll-padding-top: calc(
    var(--margin) + 2 * var(--header-padding-block) + 2 * var(--header-max-content-padding) +
      var(--header-max-content-height)
  );
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
  }

  .apparition {
    z-index: -1;
    opacity: 0;
    transform: translateY(2rem);
    transition:
      opacity 0.2s ease-in-out,
      transform 0.2s ease-in-out;
    transition-delay: calc(var(--apparition-delay) * 0.1s);
  }

  .show .apparition {
    opacity: 1;
    transform: none;
  }
}

body {
  min-height: 100svh;
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  color: var(--c-text);
  background-color: var(--c-background);
  display: flex;
  flex-direction: column;
}

main {
  margin: auto;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

a {
  color: unset;
  text-decoration: none;
  outline: none;
}

ol,
ul {
  list-style: none;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button {
  border: unset;
}
