@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --c-text: #0b111d;
  --c-background: #f3f6fc;
  --c-primary: #323b4d;
  --c-secondary: #769eef;
  --c-accent: #0b53e5;

  /* Step -2: 12.50px → 8.89px */
  --fs--2: clamp(0.56rem, calc(0.82rem + -0.2vw), 0.78rem);
  /* Step -1: 15.00px → 13.33px */
  --fs--1: clamp(0.83rem, calc(0.96rem + -0.09vw), 0.94rem);
  /* Step 0: 18.00px → 20.00px */
  --fs-0: clamp(1.13rem, calc(1.1rem + 0.11vw), 1.25rem);
  /* Step 1: 21.60px → 30.00px */
  --fs-1: clamp(1.35rem, calc(1.26rem + 0.46vw), 1.88rem);
  /* Step 2: 25.92px → 45.00px */
  --fs-2: clamp(1.62rem, calc(1.41rem + 1.04vw), 2.81rem);
  /* Step 3: 31.10px → 67.50px */
  --fs-3: clamp(1.94rem, calc(1.55rem + 1.98vw), 4.22rem);
  /* Step 4: 37.32px → 101.25px */
  --fs-4: clamp(2.33rem, calc(1.64rem + 3.47vw), 6.33rem);
}

:root.dark-theme {
  --c-text: #e1e8f4;
  --c-background: #03060c;
  --c-primary: #b2bbcd;
  --c-secondary: #103889;
  --c-accent: #1a63f4;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', 'sans-serif';
  font-size: var(--fs-0);
  line-height: 1.6;
  color: var(--c-text);
  background: var(--c-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin: auto;
}

h1,
h2,
h3 {
  /* font family here */
  line-height: 1.1;
}

h1 {
  font-size: var(--fs-4);
}

h2 {
  font-size: var(--fs-3);
}

h3 {
  font-size: var(--fs-2);
}

a {
  color: unset;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}
