#app {
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#app.light {
    background-color: #CFD8DC;
}

#app.dark {
    background-color: #37474F;
}
