.header-navbar-sub-item {
    color: white;
    margin: 10px;
    transition: color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.header-navbar-sub-item.link {
    cursor: pointer;
}

.header-navbar-sub-item.sub-item-text:hover {
    color: #546E7A;
}

.header-navbar-sub-item.sub-item-img:hover {
    filter: grayscale(70%);
}
