---
import MainLayout from '@layouts/MainLayout.astro';
import { getLangStaticPaths, getUrlFromDestinationAndLang, LangParams } from '@utils/i18n/utils';

export { getLangStaticPaths as getStaticPaths };

const { lang } = Astro.params as LangParams;
---

<MainLayout title="title" description="description">
  <h1>About {lang}</h1>
  <a href={getUrlFromDestinationAndLang('', lang)}>Home</a>
</MainLayout>
