.body-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media only screen and (max-width: 1430px) {
    .body-row {
        flex-direction: column;
        align-items: center;
    }
}
