---
import Link from '@components/Link.astro';
import Paragraph from '@components/Paragraph.astro';
import Section from '@components/Section.astro';
import MainLayout from '@layouts/MainLayout/index.astro';
import { getLangStaticPaths, useTranslations } from '@utils/i18n/utils';
import { Icon } from 'astro-icon/components';
import { getCollection, getEntry } from 'astro:content';

export async function getStaticPaths() {
  const labItems = await getCollection('lab');
  const langStaticPaths = await getLangStaticPaths();

  return labItems.flatMap((labItem) => {
    return langStaticPaths.map((langPath) => {
      return {
        params: {
          ...langPath.params,
          slug: labItem.slug,
        },
      };
    });
  });
}

const { lang, slug } = Astro.params;
const t = useTranslations(lang);
const labItem = await getEntry('lab', slug);
const { title, descriptionTranslationKey } = labItem.data;
const { Content } = await labItem.render();

const backUrl = Astro.url.pathname.split('/').slice(0, -1).join('/');
---

<MainLayout title="Antonin Ginet • Lab" description={t('head.lab.description')}>
  <Section title={title}>
    <Link href={backUrl} format="button">
      <Icon name="mdi:arrow-left-bold" />
      <span>
        {t('lab.back')}
      </span>
    </Link>
    <Paragraph class="description">
      {t(descriptionTranslationKey)}
    </Paragraph>
    <div class="content">
      <Content />
    </div>
  </Section>
</MainLayout>

<style>
  .description {
    margin-top: 2rem;
    margin-bottom: 6rem;
  }

  .content {
    display: flex;
    justify-content: center;
  }
</style>
