---
import Socials from '@components/Socials.astro';
import { useTranslations, type LangParams } from '@utils/i18n/utils';

const { lang } = Astro.params as LangParams;
const t = useTranslations(lang);
---

<div class="flex-column">
  <p>{t('section.contact.text')}</p>
  <Socials />
</div>

<style>
  .flex-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
</style>
