---
import Socials from '@components/Socials.astro';
import { useTranslations, type LangParams } from '@utils/i18n/utils';

const { lang } = Astro.params as LangParams;
const t = useTranslations(lang);
---

<div class="flex-container">
  <img src="antonin-ginet.jpg" alt="Antonin Ginet" />
  <div>
    <div class="content">
      <p class="greetings">{t('section.home.welcome')}</p>
      <h1>{t('section.home.name')}</h1>
      <p class="description">
        {t('section.home.introduction', { job: <span class="job">{t('section.home.job')}</span> })}
      </p>
    </div>
    <Socials />
  </div>
</div>

<style>
  .flex-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  @media (width > 54em) {
    .flex-container {
      flex-direction: row-reverse;
      align-items: center;
      gap: 3rem;
    }
  }

  img {
    margin-inline: auto;
    width: 60%;
    max-width: 20rem;
    border-radius: 50%;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    line-height: 1.1;
  }

  @media (width > 54em) {
    .content {
      gap: 1rem;
    }
  }

  .greetings {
    z-index: -1;
    position: relative;
    right: 0.5rem;
    font-size: 1.5rem;
    color: var(--c-primary);
  }

  h1 {
    font-size: clamp(3rem, 5vw + 1rem, 6.2rem);
    font-weight: 700;
    background: linear-gradient(120deg, var(--c-primary), var(--c-accent));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  @media (width > 54em) {
    h1 {
      font-size: 5rem;
    }
  }

  .description {
    font-size: clamp(1.5rem, 1vw + 1rem, 2rem);
    max-width: 50rem;
  }

  .job {
    font-weight: 700;
  }
</style>
