---
import Column from '@components/Column.astro';
import Socials from '@components/Socials.astro';
import { prefixBase } from '@utils/global';
import { useTranslations, type LangParams } from '@utils/i18n/utils';

const { lang } = Astro.params as LangParams;
const t = useTranslations(lang);
---

<div class="flex-container">
  <img src=`${prefixBase}/antonin-ginet.jpg` alt="Antonin Ginet" />
  <Column size="large">
    <div class="content">
      <p class="greetings">{t('section.home.welcome')}</p>
      <h1>{t('section.home.name')}</h1>
      <p class="description">
        {t('section.home.introduction', { job: <span class="job">{t('section.home.job')}</span> })}
      </p>
    </div>
    <Socials />
  </Column>
</div>

<style>
  .flex-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  img {
    margin-inline: auto;
    width: 60%;
    border-radius: 50%;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    line-height: 1.1;
  }

  .greetings {
    z-index: -1;
    position: relative;
    right: 0.5rem;
    font-size: 1.5rem;
    color: var(--c-primary-100);
  }

  h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--c-primary-100);
  }

  .description {
    font-size: 1.5rem;
  }

  .job {
    font-weight: 700;
  }
</style>
