---
import Socials from '@components/Socials.astro';
import { prefixBase } from '@utils/global';
import { useTranslations, type LangParams } from '@utils/i18n/utils';

const { lang } = Astro.params as LangParams;
const t = useTranslations(lang);
---

<div class="flex-container">
  <img src=`${prefixBase}/antonin-ginet.jpg` alt="Antonin Ginet" />
  <div class="content apparition">
    <p class="greetings apparition" style="--apparition-delay: 1">{t('home.welcome')}</p>
    <h1 class="apparition" style="--apparition-delay: 2">{t('home.name')}</h1>
    <p class="description apparition" style="--apparition-delay: 3">
      {t('home.introduction', { job: <span class="job">{t('home.job')}</span> })}
    </p>
    <Socials class="socials apparition" style="--apparition-delay: 4" />
  </div>
</div>

<style>
  .flex-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  @media (width > 54em) {
    .flex-container {
      flex-direction: row-reverse;
      align-items: center;
      gap: 3rem;
    }
  }

  img {
    margin-inline: auto;
    width: 60%;
    max-width: 20rem;
    border-radius: 50%;
  }

  .content {
    line-height: 1.1;
    text-align: center;
  }

  @media (width > 54em) {
    .content {
      text-align: left;
    }
  }

  .greetings {
    font-size: 1.5rem;
    color: var(--c-primary);
  }

  @media (width > 54em) {
    .greetings {
      z-index: -1;
      position: relative;
      right: 0.5rem;
    }
  }

  h1 {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: clamp(3rem, 5vw + 1rem, 6.2rem);
    font-weight: 700;
    background: linear-gradient(120deg, var(--c-primary), var(--c-accent));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .description {
    font-size: clamp(1.5rem, 1vw + 1rem, 2rem);
    max-width: 50rem;
  }

  .job {
    font-weight: 700;
  }

  .socials {
    margin-top: 1.5rem;
    justify-content: center;
  }

  @media (width > 54em) {
    .socials {
      justify-content: flex-start;
    }
  }
</style>
