---
import Link from '@components/Link.astro';
import Paragraph from '@components/Paragraph.astro';
import { useTranslations, type LangParams } from '@utils/i18n/utils';
import { getUrlFromDestinationAndLang } from '@utils/routing';
import { Icon } from 'astro-icon/components';

const { lang } = Astro.params as LangParams;
const t = useTranslations(lang);
---

<Paragraph class="apparition" style="--apparition-delay: 1">
  {t('lab.text')}
</Paragraph>
<div class="center apparition" style="--apparition-delay: 2">
  <Link href={getUrlFromDestinationAndLang('/lab/', lang)} format="button">
    <span>{t('lab.access-to')}</span>
    <Icon name="mdi:flask" />
  </Link>
</div>

<style>
  .center {
    width: fit-content;
    margin-inline: auto;
    margin-top: 1.5rem;
  }
</style>
