---
import Paragraph from '@components/Paragraph.astro';
import { useTranslations, type LangParams } from '@utils/i18n/utils';
import { Icon } from 'astro-icon/components';
import { getCollection } from 'astro:content';

const { lang } = Astro.params as LangParams;
const t = useTranslations(lang);

const skills = (await getCollection('skills'))
  .map((skill) => skill.data)
  .toSorted((prev, next) => prev.order - next.order);
---

<Paragraph>{t('section.skills.text')}</Paragraph>
<ul class="skills">
  {
    skills.map((skill) => (
      <li class="skill">
        <h3>{skill.title}</h3>
        <ul>
          {skill.list.map((item) => (
            <li>
              <Icon name={item.icon} />
              {item.name}
            </li>
          ))}
        </ul>
      </li>
    ))
  }
</ul>

<style>
  .skills {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .skill {
    width: min(100%, 10rem);
  }

  .skill > * {
    width: fit-content;
    margin-inline: auto;
  }

  .skill h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .skill li {
    font-size: 1.125rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
</style>
