header {
    background-color: #546E7A;
    position: fixed;
    width: 100%;
    top: 0;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
