---
import Logo from './Logo.astro';
import Navbar from './Navbar.astro';
import ToogleLang from './ToogleLang.astro';
import ToogleTheme from './ToogleTheme.astro';
import type { LinkProps } from '@components/Link.astro';

interface Props {
  links: LinkProps[];
  logoUrl?: string;
}

const { links, logoUrl = '' } = Astro.props;
---

<header class="flex-container">
  <Logo url={logoUrl} />
  <div class="flex-container">
    <Navbar links={links} />
    <div class="flex-container">
      <ToogleTheme />
      <ToogleLang />
    </div>
  </div>
</header>
