---
import Wrapper from '@components/Wrapper.astro';
import type { ComponentProps } from 'astro/types';
import Navbar from './Navbar/index.astro';
import ToggleLang from './ToggleLang.astro';
import ToggleTheme from './ToggleTheme.astro';

interface Props {
  links: ComponentProps<typeof Navbar>['links'];
}

const { links } = Astro.props;
---

<header>
  <Wrapper>
    <div class="row">
      <ToggleLang />
      <Navbar links={links} />
      <ToggleTheme />
    </div>
  </Wrapper>
</header>

<style>
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-block: 1rem;
    background-color: hsl(from var(--c-background) h s l / 95%);
    line-height: 1;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
