---
import { type LinkProps } from '@components/Link.astro';
import Wrapper from '@components/Wrapper.astro';
import Navbar from './Navbar.astro';
import ToogleLang from './ToogleLang.astro';
import ToogleTheme from './ToogleTheme.astro';

interface Props {
  links: LinkProps[];
}

const { links } = Astro.props;
---

<header class="header">
  <Wrapper>
    <div class="row">
      <ToogleLang />
    <Navbar links={links} />
      <ToogleTheme />
    </div>
  </Wrapper>
</header>
