---
import { getUrlFromDestinationAndLang, type LangParams } from '@utils/i18n/utils';

interface Props {
  url: string;
}

const { url } = Astro.props;
const { lang } = Astro.params as LangParams;
---

<div><a href={getUrlFromDestinationAndLang(url, lang)}>Portfolio.</a></div>
