---
import Link, { type LinkProps } from '@components/Link.astro';
import { getLangFromUrl, getUrlFromDestinationAndLang } from '@utils/i18n/utils';

const currentLang = getLangFromUrl(Astro.url);

interface Props {
  links: LinkProps[];
}

const { links } = Astro.props as Props;
---

<nav>
  <ul>
    {
      links.map(({ href, ...props }) => (
        <li>
          <Link href={getUrlFromDestinationAndLang(href, currentLang)} {...props} />
        </li>
      ))
    }
  </ul>
</nav>

<style>
  ul {
    display: flex;
  }

  li:not(:first-child) {
    margin-left: calc(0.5rem + 1.5625vw);
  }
</style>
