---
import Link, { type LinkProps } from '@components/Link.astro';
import { type LangParams } from '@utils/i18n/utils';
import { getUrlFromDestinationAndLang } from '@utils/routing';

interface Props {
  links: LinkProps[];
}

const { links } = Astro.props;
const { lang } = Astro.params as LangParams;
---

<nav>
  <ul>
    {
      links.map(({ href, ...props }) => (
        <li>
          <Link href={getUrlFromDestinationAndLang(href, lang)} {...props} />
        </li>
      ))
    }
  </ul>
</nav>
