---
import { getLangFromUrl, getUrlFromDestinationAndLang, useTranslations } from '@utils/i18n/utils';
import Link from '@components/Link.astro';

const currentLang = getLangFromUrl(Astro.url);
const t = useTranslations(currentLang);

const links = [
  { href: '/', value: t('navbar.home') },
  { href: '/about', value: t('navbar.about') },
  { href: '/experiences', value: t('navbar.experiences') },
  { href: '/contact', value: t('navbar.contact') },
];
---

<nav>
  <ul>
    {
      links.map((link) => (
        <li>
          <Link href={getUrlFromDestinationAndLang(link.href, currentLang)}>{link.value}</Link>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  ul {
    display: flex;
  }

  li:not(:first-child) {
    margin-left: calc(0.5rem + 1.5625vw);
  }
</style>
