---
import { getLangFromUrl, getUrlFromDestinationAndLang, useTranslations } from '@utils/i18n/utils';
import Link from '@components/Link.astro';

const currentLang = getLangFromUrl(Astro.url);
const t = useTranslations(currentLang);

const links = [
  { href: '/', value: t('navbar.home') },
  { href: '/experiences', value: t('navbar.experiences') },
  { href: '/formation', value: t('navbar.formation') },
  { href: '/contact', value: t('navbar.contact') },
];
---

<nav>
  <ul>
    {
      links.map((link) => (
        <li>
          <Link href={getUrlFromDestinationAndLang(link.href, currentLang)}>{link.value}</Link>
        </li>
      ))
    }
  </ul>
</nav>
