---
import Link from '@components/Link.astro';
import { slugLangs, type LangParams } from '@utils/i18n/utils';
import { getDestinationFromUrl, getUrlFromDestinationAndLang } from '@utils/routing';

const { lang: currentLang } = Astro.params as LangParams;
---

<div>
  {
    slugLangs.map((lang) => (
      <span class:list={[{ current: lang === currentLang }]}>
        <Link href={getUrlFromDestinationAndLang(getDestinationFromUrl(Astro.url), lang)}>{lang.toUpperCase()}</Link>
      </span>
    ))
  }
</div>

<style>
  span + span {
    --space: 0.625rem;
    margin-left: var(--space);
    padding-left: var(--space);
    border-left: 1px solid var(--c-text);
  }

  .current {
    font-weight: 900;
  }
</style>
