---
import { darkThemeClass } from '@utils/theme';
---

<toggle-theme data-dark-theme-class={darkThemeClass}>
  <button class="button">Theme</button>
</toggle-theme>

<script>
  class ToogleTheme extends HTMLElement {
    constructor() {
      super();
      const darkThemeClass = this.dataset.darkThemeClass as string;
      const button = this.querySelector('button');
      button?.addEventListener('click', () => {
        document.documentElement.classList.toggle(darkThemeClass);
      });
    }
  }

  customElements.define('toggle-theme', ToogleTheme);
</script>
