---
import Link from '@components/Link.astro';
import Wrapper from '@components/Wrapper.astro';
import { useTranslations, type LangParams } from '@utils/i18n/utils';

const { lang } = Astro.params as LangParams;
const t = useTranslations(lang);
---

<footer>
  <Wrapper>
    <p>
      {
        t('footer.source-code', {
          github: (
            <Link href="https://github.com/ryubi98/portfolio" target="_blank">
              {t('footer.github')}
            </Link>
          ),
        })
      }
    </p>
    <p>
      {t('footer.copyright')}
    </p>
  </Wrapper>
</footer>

<style>
  footer {
    --margin: 1rem;
    margin-bottom: calc(var(--margin) + var(--navbar-top-offset));
    text-align: center;
  }

  @media (width > 64em) {
    footer {
      --margin: 2rem;
    }
  }
</style>
