---
import Column from '@components/Column.astro';
import Wrapper from '@components/Wrapper.astro';
import { useTranslations, type LangParams } from '@utils/i18n/utils';

const { lang } = Astro.params as LangParams;
const t = useTranslations(lang);
---

<footer>
  <Wrapper>
    <Column size="small">
      <p>
        {
          t('footer.source-code', {
            github: (
              <a href="https://github.com/ryubi98/portfolio" target="_blank">
                {t('footer.github')}
              </a>
            ),
          })
        }
      </p>
      <p>
        {t('footer.copyright')}
      </p>
    </Column>
  </Wrapper>
</footer>

<style>
  footer {
    --margin: 1rem;
    --navbar-margin-bottom: 1rem;
    --navbar-padding: 0.625rem;
    --navbar-max-content-height: 2.5rem;
    --extra-margin: calc(var(--navbar-margin-bottom) + 2 * var(--navbar-padding) + var(--navbar-max-content-height));
    margin-bottom: calc(var(--margin) + var(--extra-margin));
    margin-top: var(--margin);
  }

  @media (width > 64em) {
    footer {
      --margin: 2rem;
      --extra-margin: 0rem;
    }
  }

  a {
    display: inline-block;
    text-decoration: underline;
    transition:
      color 0.3s ease-in-out,
      transform 0.3s ease-in-out;
  }

  a:hover,
  a:focus {
    color: var(--c-primary-100);
    transform: scale(1.1);
  }
</style>
