---
import Column from '@components/Column.astro';
import Link from '@components/Link.astro';
import Wrapper from '@components/Wrapper.astro';
import { useTranslations, type LangParams } from '@utils/i18n/utils';

const { lang } = Astro.params as LangParams;
const t = useTranslations(lang);
---

<footer>
  <Wrapper>
    <Column size="small">
      <p>
        {
          t('footer.source-code', {
            github: (
              <Link href="https://github.com/ryubi98/portfolio" target="_blank">
                {t('footer.github')}
              </Link>
            ),
          })
        }
      </p>
      <p>
        {t('footer.copyright')}
      </p>
    </Column>
  </Wrapper>
</footer>

<style>
  footer {
    --margin: 1rem;
    --navbar-margin-bottom: 1rem;
    --navbar-padding: 0.625rem;
    --navbar-max-content-padding: 0.625rem;
    --navbar-max-content-height: 1.125rem;
    --extra-margin: calc(
      var(--navbar-margin-bottom) + 2 * var(--navbar-padding) + 2 * var(--navbar-max-content-padding) +
        var(--navbar-max-content-height)
    );
    margin-bottom: calc(var(--margin) + var(--extra-margin));
    margin-top: var(--margin);
  }

  @media (width > 64em) {
    footer {
      --margin: 2rem;
      --extra-margin: 0rem;
    }
  }
</style>
