---
import Link from '@components/Link.astro';
import { useTranslations, type LangParams } from '@utils/i18n/utils';

const { lang } = Astro.params as LangParams;
const t = useTranslations(lang);
---

<footer>
  <p>
    {
      t('footer.source-code', {
        github: <Link href="https://github.com/ryubi98/portfolio" value={t('footer.github')} isExternal />,
      })
    }
  </p>
  <p>
    {t('footer.copyright')}
  </p>
</footer>

<style>
  footer {
    --navbar-margin-bottom: 1rem;
    --navbar-padding: 0.625rem;
    --navbar-max-content-height: 2.5rem;
    margin-bottom: calc(var(--navbar-margin-bottom) + 2 * var(--navbar-padding) + var(--navbar-max-content-height));
  }
</style>
