---
import { type HTMLAttributes } from 'astro/types';

interface Props {
  format?: 'simple' | 'button';
  href: HTMLAttributes<'a'>['href'];
  target?: HTMLAttributes<'a'>['target'];
}

const { format = 'simple', href, target } = Astro.props;
---

<a class={format} href={href} target={target}><slot /></a>

<style>
  a.simple {
    display: inline-block;
    text-decoration: underline;
    text-underline-offset: 0.1em;
  }

  a.button {
    line-height: 1;
    padding: 0.625rem 1rem;
    border-radius: 1rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--c-primary);
  }

  @media (prefers-reduced-motion: no-preference) {
    a.simple {
      transition:
        color 0.3s ease-in-out,
        transform 0.3s ease-in-out;
    }

    a.button {
      transition:
        background-color 0.3s ease-in-out,
        transform 0.3s ease-in-out;
    }
  }

  a.simple:hover,
  a.simple:focus {
    color: var(--c-accent);
    transform: scale(1.05);
  }

  a.button:hover,
  a.button:focus {
    background-color: var(--c-accent);
    transform: scale(1.05);
  }
</style>
