---
interface Props {
  href: string;
  isExternal?: boolean;
}

const { href, isExternal = false } = Astro.props;
---

<a href={href} target={isExternal ? '_blank' : '_self'}><slot /></a>

<style>
  a {
    color: var(--c-primary);
    transition: color 0.3s ease-in-out;
  }

  a:hover {
    color: var(--c-accent);
  }
</style>
