---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a href={href}><slot /></a>

<style>
  a {
    transition: color 0.3s ease-in-out;
  }

  a:hover {
    color: var(--c-primary);
  }
</style>
