---
const { class: className, ...rest } = Astro.props;
---

<p class={className} {...rest}><slot /></p>

<style>
  p {
    margin-inline: auto;
    max-width: 70ch;
    text-align: center;
  }
</style>
