---
import { type TranslatedMessage } from '@utils/i18n/utils';

interface Props {
  isMainSection: boolean;
  id: string;
  title: TranslatedMessage;
}

const { isMainSection, id, title } = Astro.props;
---

<section id={id} class={isMainSection ? 'main' : ''}>
  {!isMainSection && <h2>{title}</h2>}
  <slot />
</section>
