---
import { type TranslatedMessage } from '@utils/i18n/utils';
import Wrapper from './Wrapper.astro';

interface Props {
  id: string;
  isMainSection: boolean;
  title: TranslatedMessage;
}

const { isMainSection, id, title } = Astro.props;
---

<section id={id} class:list={[{ main: isMainSection }]}>
  <Wrapper>
    {!isMainSection && <h2>{title}</h2>}
    <slot />
  </Wrapper>
</section>

<style>
  section {
    padding-bottom: 5rem;
  }

  section.main {
    --header-padding-block: 1rem;
    --header-max-content-height: 2.5rem;
    padding-top: calc(2 * var(--header-padding-block) + var(--header-max-content-height));
  }

  h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
</style>
