---
import Wrapper from '@components/Wrapper.astro';
import { type TranslatedMessage } from '@utils/i18n/utils';

interface Props {
  id: string;
  isMainSection: boolean;
  title: TranslatedMessage;
}

const { isMainSection, id, title } = Astro.props;
---

<section id={id} class:list={[{ main: isMainSection }]}>
  <Wrapper>
    {!isMainSection && <h2>{title}</h2>}
    <slot />
  </Wrapper>
</section>

<style>
  section {
    margin-bottom: 6rem;
  }

  @media (width > 54em) {
    section {
      margin-bottom: 8rem;
    }
  }

  @media (width > 64em) {
    section {
      margin-bottom: 10rem;
    }
  }

  section.main {
    --margin: 1rem;
    --header-padding-block: 1rem;
    --header-max-content-padding: 0.625rem;
    --header-max-content-height: 1.125rem;
    --extra-margin: calc(
      2 * var(--header-padding-block) + 2 * var(--header-max-content-padding) + var(--header-max-content-height)
    );
    margin-top: calc(var(--margin) + var(--extra-margin));
  }

  @media (width > 54em) {
    section.main {
      --margin: 0;
      --extra-margin: 0;
      min-height: 100svh;
      display: flex;
      align-items: center;
    }
  }

  h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  @media (width > 54em) {
    h2 {
      font-size: 2.5rem;
      margin-bottom: 2.5rem;
    }
  }
</style>
