---
import Icon from '@components/Icon.astro';
import Link from '@components/Link.astro';
import { type LangParams, type TranslatedMessage, useTranslations } from '@utils/i18n/utils';

const { lang } = Astro.params as LangParams;
const t = useTranslations(lang);

type Social = {
  href: string;
  icon: string;
  label: TranslatedMessage;
};

const socials: Social[] = [
  { href: 'https://www.linkedin.com/in/antonin-ginet', icon: 'fa-brands fa-linkedin', label: t('social.linkedin') },
  { href: 'https://github.com/Ryubi98', icon: 'fa-brands fa-github', label: t('social.github') },
  { href: 'https://gitlab.com/Ryubi98', icon: 'fa-brands fa-gitlab', label: t('social.gitlab') },
  {
    href: 'mailto:antonin.ginet98@gmail.com?subject=[PORTFOLIO]',
    icon: 'fa-solid fa-envelope',
    label: t('social.email'),
  },
  { href: 'https://leetcode.com/Ryubi98', icon: 'fa-solid fa-terminal', label: t('social.leetcode') },
];
---

<ul>
  {
    socials.map((social) => (
      <li>
        <Icon icon={social.icon} />
        <Link href={social.href} value={social.label} isExternal />
      </li>
    ))
  }
</ul>
