---
import Header from '@components/Header/index.astro';
import Section from '@components/Section.astro';
import MainLayout from '@layouts/MainLayout/index.astro';
import Contact from '@sections/index/Contact.astro';
import Experiences from '@sections/index/Experiences.astro';
import Home from '@sections/index/Home.astro';
import Lab from '@sections/index/Lab.astro';
import Projects from '@sections/index/Projects.astro';
import Skills from '@sections/index/Skills.astro';
import { getLangStaticPaths, useTranslations, type LangParams, type TranslatedMessage } from '@utils/i18n/utils';

export { getLangStaticPaths as getStaticPaths };

const { lang } = Astro.params as LangParams;
const t = useTranslations(lang);

type Section = {
  id: string;
  icon: string;
  value: TranslatedMessage;
  Component: (props: Record<string, any>) => any;
};

const sections: Section[] = [
  { id: 'home', icon: 'fa-solid fa-house', value: t('section.home.title'), Component: Home },
  { id: 'skills', icon: 'fa-solid fa-screwdriver-wrench', value: t('section.skills.title'), Component: Skills },
  {
    id: 'experiences',
    icon: 'fa-solid fa-ranking-star',
    value: t('section.experiences.title'),
    Component: Experiences,
  },
  { id: 'projects', icon: 'fa-solid fa-code', value: t('section.projects.title'), Component: Projects },
  { id: 'lab', icon: 'fa-solid fa-flask-vial', value: t('section.lab.title'), Component: Lab },
  { id: 'contact', icon: 'fa-solid fa-address-book', value: t('section.contact.title'), Component: Contact },
];
---

<MainLayout title="title" description="description">
  <Header
    slot="header"
    links={sections.map((section) => ({ href: `#${section.id}`, icon: section.icon, value: section.value }))}
  />
  {
    sections.map((section, index) => (
      <Section isMainSection={index === 0} id={section.id} title={section.value}>
        <section.Component />
      </Section>
    ))
  }
</MainLayout>
