---
import Section from '@components/Section.astro';
import MainLayout from '@layouts/MainLayout/index.astro';
import Contact from '@sections/index/Contact.astro';
import Experiences from '@sections/index/Experiences.astro';
import Home from '@sections/index/Home.astro';
import Lab from '@sections/index/Lab.astro';
import Projects from '@sections/index/Projects.astro';
import { getLangStaticPaths, useTranslations, type LangParams, type TranslatedMessage } from '@utils/i18n/utils';
import { type AstroComponentFactory } from 'astro/runtime/server/index.js';

export { getLangStaticPaths as getStaticPaths };

const { lang } = Astro.params as LangParams;
const t = useTranslations(lang);

type Section = {
  id: string;
  value: TranslatedMessage;
  Component: AstroComponentFactory;
};

const sections: Section[] = [
  { id: 'home', value: t('home.title'), Component: Home },
  {
    id: 'experiences',
    value: t('experiences.title'),
    Component: Experiences,
  },
  { id: 'projects', value: t('projects.title'), Component: Projects },
  { id: 'lab', value: t('lab.title'), Component: Lab },
  { id: 'contact', value: t('contact.title'), Component: Contact },
];
---

<MainLayout title="Antonin Ginet • Portfolio" description={t('head.index.description')}>
  {
    sections.map((section, sectionIndex) => (
      <Section id={section.id} title={section.value} showTitle={sectionIndex !== 0} fullPage={sectionIndex === 0}>
        <section.Component />
      </Section>
    ))
  }
</MainLayout>
