.header-navbar-translation {
    position: relative;
    height: fit-content;
}

.header-navbar-translation-flag {
    height: 20px;
}

.header-navbar-translation-flag.can-click {
    cursor: pointer;
}

@media only screen and (max-width: 1430px) {
    .header-navbar-translation {
        margin-left: 0;
        position: initial;
    }

    .header-navbar-translation > .header-navbar-item {
        display: none;
    }

    .header-navbar .header-navbar-translation > .header-navbar-sub-items {
        position: absolute;
        bottom: 10px;
        top: unset;
        left: 0;
        flex-direction: row;
    }

    @media only screen and (max-height: 480px) {
        .header-navbar .header-navbar-translation > .header-navbar-sub-items {
            position: relative;
            margin-left: 0;
        }
    }
}
