.body-link {
    font-weight: bold;
    text-decoration: none;
    border-bottom: solid 2px transparent;
    transition: all 0.3s ease-in-out;
}

.light .body-link {
    color: #263238;
}

.dark .body-link {
    color: white;
}

.light .body-link:hover {
    border-bottom-color: #263238;
}

.dark .body-link:hover {
    border-bottom-color: white;
}
