---
import Link from '@components/Link.astro';
import { useTranslations, type LangParams } from '@utils/i18n/utils';

const { lang } = Astro.params as LangParams;
const t = useTranslations(lang);
---

<div>
  {
    t('footer.copyright', {
      github: (
        <Link href="https://github.com/ryubi98/portfolio" isExternal>
          Github
        </Link>
      ),
    })
  }
</div>
