---
import Link from '@components/Link.astro';
import { useTranslations, type LangParams } from '@utils/i18n/utils';

const { lang } = Astro.params as LangParams;
const t = useTranslations(lang);

const socials = [
  { href: 'https://github.com/Ryubi98', value: t('footer.github') },
  { href: 'https://gitlab.com/Ryubi98', value: t('footer.gitlab') },
  { href: 'https://www.linkedin.com/in/antonin-ginet', value: t('footer.linkedin') },
];
---

<ul>
  {
    socials.map((social) => (
      <li>
        <Link href={social.href} isExternal>
          {social.value}
        </Link>
      </li>
    ))
  }
</ul>
