.text-icon-link {
    text-align: left;
    width: fit-content;
}

a.text-icon-link {
    text-decoration: none;
    color: inherit;
}

p.text-icon-link {
    margin-block-start: 0;
    margin-block-end: 0;
}

.text-icon-link > svg {
    margin-right: 8px;
}
