.header-navbar-links {
    position: relative;
    height: fit-content;
}

@media only screen and (max-width: 1430px) {
    .header-navbar-links {
        margin-left: 0;
        position: initial;
    }
}
