.header-toggle-navbar {
    display: none;
}

.header-toggle-navbar-block {
    padding-left: 12px;
    padding-right: 12px;
    width: 25px;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    z-index: 3;
}

.header-toggle-navbar-icon-mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.header-toggle-navbar-icon, .header-toggle-navbar-icon:before, .header-toggle-navbar-icon:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.header-toggle-navbar-icon:before {
    top: 10px;
}

.header-toggle-navbar-icon:after {
    top: -12px;
}

@media only screen and (max-width: 1430px) {
    .header-toggle-navbar {
        display: flex;
    }

    .header-toggle-navbar-block:hover {
        background-color: #263238;
    }

    .header-toggle-navbar.is-open .header-toggle-navbar-icon {
        background: transparent;
    }

    .header-toggle-navbar.is-open .header-toggle-navbar-icon:before {
        transform-origin: center;
        transform: translateY(-10px) rotate(-45deg);
    }

    .header-toggle-navbar.is-open .header-toggle-navbar-icon:after {
        transform-origin: center;
        transform: translateY(10px) rotate(45deg);
    }

    .header-toggle-navbar.is-open .header-toggle-navbar-icon-mask {
        visibility: visible;
        background: rgba(0, 0, 0, 0.3);
    }
}
