.body-paragraph {
    width: 60%;
    text-align: justify;
    font-size: 20px;
    line-height: 28px;
    margin: 20px 20px;
    padding: 25px;
    border-radius: 10px;
}

.light .body-paragraph {
    background-color: aliceblue;
}

.dark .body-paragraph {
    background-color: #455A64;
}

@media only screen and (max-width: 1430px) {
    .body-paragraph {
        width: 80%;
        margin: 0 0 30px 0;
    }
}

@media only screen and (max-width: 650px) {
    .body-paragraph {
        text-align: center;
        padding: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
