.paragraph-title {
    width: 100%;
    text-align: center;
    margin: 0 0 30px 0;
}

.light .paragraph-title {
    color: #263238;
}

.dark .paragraph-title {
    color: white;
}

@media only screen and (max-width: 1430px) {
    .paragraph-title {
        font-size: 22px;
    }
}
