.header-navbar-sub-items {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    visibility: hidden;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    font-size: 15px;
    background-color: #263238;
    border-radius: 5px;
}

.header-navbar-sub-items.is-open {
    transition: all 0.2s ease-in-out;
    top: 150%;
    visibility: visible;
}

@media only screen and (max-width: 1430px) {
    .header-navbar-sub-items {
        position: inherit;
        visibility: visible;
        background-color: #455A64;
        margin-top: 10px;
        margin-left: 30px;
        transform: translateX(0);
    }
}
