---
import { type LangParams } from '@utils/i18n/utils';
import { getUrlFromDestinationAndLang } from '@utils/routing';
import type { ComponentProps } from 'astro/types';
import Link from './Link.astro';

interface Props {
  links: ComponentProps<typeof Link>[];
}

const { links } = Astro.props;
const { lang } = Astro.params as LangParams;
---

<nav>
  <ul>
    {
      links.map(({ href, ...props }) => (
        <li>
          <Link href={getUrlFromDestinationAndLang(href, lang)} {...props} />
        </li>
      ))
    }
  </ul>
</nav>

<style>
  nav {
    --margin: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 var(--margin) var(--margin) var(--margin);
  }

  @media (width > 64em) {
    nav {
      --margin: 0;
      position: initial;
    }
  }

  ul {
    --padding: 0.625rem;
    background-color: var(--c-secondary);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 0.3125rem;
    display: flex;
    gap: var(--padding);
    padding: var(--padding);
    max-width: fit-content;
    margin-inline: auto;
    overflow-y: auto;
  }

  @media (width > 64em) {
    ul {
      --padding: 0.625rem 1.25rem;
      background-color: transparent;
      backdrop-filter: none;
      -webkit-backdrop-filter: none;
      border-radius: 0;
    }
  }
</style>
