---
import { type TranslatedMessage } from '@utils/i18n/utils';
import { Icon } from 'astro-icon/components';

interface Props {
  href: string;
  value: string | TranslatedMessage;
  icon?: string;
}

const { href, value, icon } = Astro.props;
---

<a href={href}>
  {icon && <Icon name={icon} />}
  <span>{value}</span>
</a>

<style>
  a {
    --size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--size);
    height: var(--size);
    padding: 1rem;
    background-color: var(--c-secondary);
    border-radius: 0.3125rem;
  }

  @media (prefers-reduced-motion: no-preference) {
    a {
      transition:
        background-color 0.3s ease-in-out,
        transform 0.3s ease-in-out;
    }
  }

  @media (width > 64em) {
    a {
      --size: auto;
      background-color: transparent;
      border-radius: 0;
      padding: 0;
    }
  }

  a:hover,
  a:focus {
    background-color: var(--c-accent);
    transform: scale(1.05);
  }
  @media (width > 64em) {
    a:hover,
    a:focus {
      background-color: transparent;
      color: var(--c-accent);
    }
  }

  span {
    display: none;
  }

  @media (width > 64em) {
    span {
      display: inline;
      margin-left: 0.625rem;
    }
  }
</style>
