.header-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;
}

.header-navbar > * {
    margin-left: 45px;
}

@media only screen and (max-width: 1430px) {
    .header-navbar {
        position: fixed;
        flex-direction: column;
        align-items: flex-start;
        top: 0;
        left: 100%;
        width: 270px;
        height: calc(100% - 100px);
        padding-top: 100px;
        padding-left: 30px;
        background-color: #455A64;
        transition: all 0.3s ease-in-out;
    }

    .header-navbar.is-open {
        transform: translateX(-100%);
    }

    @media only screen and (max-height: 480px) {
        .header-navbar {
            overflow-y: scroll;
        }
    }
}
