.header-title {
    color: white;
    font-size: 15px;
    letter-spacing: 2px ;
    font-family: 'Roboto', serif;
    text-decoration: none;
}

@media only screen and (max-width: 1430px) {
    .header-title {
        font-size: 10px;
    }
}
